<a href="https://colab.research.google.com/github/pkams/projetos_iniciais/blob/master/prevendo_notas_ENEM_com_diferentes_regressores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importando bibliotecas básicas

import pandas as pd
import numpy as np

In [0]:
# O objetivo deste dataset é prever as notas de matemática do ENEM baseando-se nas outras features.

df = pd.read_csv('https://raw.githubusercontent.com/wesleykaoru/Codenation/master/Data_Science/datasets/train.csv')

In [162]:
df.head()

   Unnamed: 0                              NU_INSCRICAO  ...  Q049  Q050
0           1  ed50e8aaa58e7a806c337585efee9ca41f1eb1ad  ...     B     D
1           2  2c3acac4b33ec2b195d77e7c04a2d75727fad723  ...     C     A
2           3  f4545f8ccb9ff5c8aad7d32951b3f251a26e6568  ...     B     A
3           4  3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe  ...     A     A
4           5  bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268  ...     A     A

[5 rows x 167 columns]

In [153]:
# Objetivo aqui é pegar as 10 váriaveis mais correlacionadas com váriavel de NU_NOTA_MT que é nosso alvo.

colunas = df.corr().nlargest(11, 'NU_NOTA_MT')['NU_NOTA_MT'].keys()
colunas

Index(['NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_REDACAO', 'TP_DEPENDENCIA_ADM_ESC', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP5', 'NU_NOTA_COMP4', 'NU_NOTA_COMP2', 'NU_NOTA_COMP1'],
      dtype='object')

In [0]:
# Tiramos a váriavel alvo da lista e ficamos com as restantes

colunas = colunas[1:]

In [8]:
df[colunas].shape

(13730, 10)

In [0]:
# Por observação das váriaveis temos provas com valores NaN, o que pode indicar que a pessoa faltou a prova. 
# Supomos que alguém que faltou no dia (ou em ambos os dias) tirou nota baixa e/ou 0.
# Com essa suposição jogamos valores zerados para preencher os NaN's. 

# Salvamos o X e y

X = df[colunas].fillna(0)
y = df['NU_NOTA_MT']
y = y.fillna(0)

In [157]:
# Verificamos se tem algum NaN restante

X.isna().sum().sum(), y.isna().sum().sum()

(0, 0)

In [0]:
# Dividimos em treino e teste

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [0]:
# Importamos bibliotecas para testar diferentes hiperparametros
# Tedtaremos diferentes ordens de features com PolynomialFeatures

from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [0]:
# Aplicamos StandardScaler para normalizar

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [0]:
# Criamos os steps e fazemos Pipeline, também criamos uma lista de paramos a ser testada com GridSearch

steps = [('Poly',PolynomialFeatures()),('LinearRegression', LinearRegression())]
pipeline = Pipeline(steps)
params = {'Poly__degree':[1, 2, 3, 4]}
gs_cv = GridSearchCV(pipeline, param_grid = params, verbose=1, cv=5)

In [106]:
# Aplicamos GridSearch nos dados de treino

gs_cv.fit(X_train, y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    6.9s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('Poly',
                                        PolynomialFeatures(degree=2,
                                                           include_bias=True,
                                                           interaction_only=False,
                                                           order='C')),
                                       ('LinearRegression',
                                        LinearRegression(copy_X=True,
                                                         fit_intercept=True,
                                                         n_jobs=None,
                                                         normalize=False))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'Poly__degree': [1, 2, 3, 4]}, pre_dispatch='2*n_jobs',
             refit=True, return_train_score=False, scoring=None, verbose=1)

In [107]:
# Verificamos o melhor parametro encontrado, como esperado uma grandeza maior que 1

gs_cv.best_params_

{'Poly__degree': 3}

In [108]:
# Qual melhor score obtido em treino

gs_cv.best_score_

0.9185205443440221

In [109]:
# Para verificar o estimador

gs_cv.best_estimator_

Pipeline(memory=None,
         steps=[('Poly',
                 PolynomialFeatures(degree=3, include_bias=True,
                                    interaction_only=False, order='C')),
                ('LinearRegression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [0]:
# Podemos aplicar na mão os polynomials features

poly = PolynomialFeatures(degree=3)

In [0]:
# Aplicar sobre X_train e X_test essas features polinomiais

X_train_tran = poly.fit_transform(X_train)
X_test_tran = poly.fit_transform(X_test)

In [112]:
# Verificamos nosso resultado de Regressão Linear Multipla com SkLearn

linreg = LinearRegression()
linreg.fit(X_train_tran, y_train)

linreg.score(X_train_tran, y_train), linreg.score(X_test_tran, y_test)

(0.9260135498135377, 0.9184541728372874)

In [116]:
# Podemos testar também com RandomForestRegressor

from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()

rfr.fit(X_train, y_train)

rfr.score(X_train, y_train)

0.9884225612567528

In [117]:
# Podemos perceber que houve overfitting devido a acurácia alta em treino porém mais baixa em teste

rfr.score(X_test, y_test)

0.9168892832073947

In [141]:
# Podemos testar também utilizando uma rede neural simples linear

import tensorflow as tf

model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(100, input_shape=(10,)))
model.add(tf.keras.layers.Dense(100, 'relu'))
model.add(tf.keras.layers.Dense(1, 'linear'))

model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 100)               1100
_________________________________________________________________
dense_16 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 101
=================================================================
Total params: 11,301
Trainable params: 11,301
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [144]:
epochs_hist = model.fit(X_train, y_train, epochs=50)

Epoch 1/50
301/301 [==============================] - 1s 2ms/step - loss: 4397.2012
Epoch 2/50
301/301 [==============================] - 1s 2ms/step - loss: 4356.5000
Epoch 3/50
301/301 [==============================] - 1s 2ms/step - loss: 4336.4541
Epoch 4/50
301/301 [==============================] - 1s 2ms/step - loss: 4305.5474
Epoch 5/50
301/301 [==============================] - 1s 2ms/step - loss: 4282.1084
Epoch 6/50
301/301 [==============================] - 1s 2ms/step - loss: 4263.6421
Epoch 7/50
301/301 [==============================] - 1s 2ms/step - loss: 4212.8477
Epoch 8/50
301/301 [==============================] - 1s 2ms/step - loss: 4221.1978
Epoch 9/50
301/301 [==============================] - 1s 2ms/step - loss: 4194.1001
Epoch 10/50
301/301 [==============================] - 1s 2ms/step - loss: 4182.9517
Epoch 11/50
301/301 [==============================] - 1s 2ms/step - loss: 4175.8857
Epoch 12/50
301/301 [==============================] - 1s 2ms/step - loss: 4166.5620
Epoch 13/50
301/301 [==============================] - 1s 2ms/step - loss: 4150.5884
Epoch 14/50
301/301 [==============================] - 1s 2ms/step - loss: 4145.5850
Epoch 15/50
301/301 [==============================] - 1s 2ms/step - loss: 4132.8809
Epoch 16/50
301/301 [==============================] - 1s 2ms/step - loss: 4128.4819
Epoch 17/50
301/301 [==============================] - 1s 2ms/step - loss: 4121.5747
Epoch 18/50
301/301 [==============================] - 1s 2ms/step - loss: 4125.5000
Epoch 19/50
301/301 [==============================] - 1s 2ms/step - loss: 4111.1094
Epoch 20/50
301/301 [==============================] - 1s 2ms/step - loss: 4112.3682
Epoch 21/50
301/301 [==============================] - 1s 2ms/step - loss: 4103.1050
Epoch 22/50
301/301 [==============================] - 1s 2ms/step - loss: 4101.8198
Epoch 23/50
301/301 [==============================] - 1s 2ms/step - loss: 4092.9692
Epoch 24/50
301/301 [==============================] - 1s 2ms/step - loss: 4087.4041
Epoch 25/50
301/301 [==============================] - 1s 2ms/step - loss: 4089.8042
Epoch 26/50
301/301 [==============================] - 1s 2ms/step - loss: 4099.3188
Epoch 27/50
301/301 [==============================] - 1s 2ms/step - loss: 4087.6829
Epoch 28/50
301/301 [==============================] - 1s 2ms/step - loss: 4085.7764
Epoch 29/50
301/301 [==============================] - 1s 2ms/step - loss: 4084.6934
Epoch 30/50
301/301 [==============================] - 1s 2ms/step - loss: 4101.4326
Epoch 31/50
301/301 [==============================] - 1s 2ms/step - loss: 4089.4421
Epoch 32/50
301/301 [==============================] - 1s 2ms/step - loss: 4075.4614
Epoch 33/50
301/301 [==============================] - 1s 2ms/step - loss: 4079.6609
Epoch 34/50
301/301 [==============================] - 1s 2ms/step - loss: 4062.7651
Epoch 35/50
301/301 [==============================] - 1s 2ms/step - loss: 4066.7227
Epoch 36/50
301/301 [==============================] - 1s 2ms/step - loss: 4089.4341
Epoch 37/50
301/301 [==============================] - 1s 2ms/step - loss: 4091.7993
Epoch 38/50
301/301 [==============================] - 1s 2ms/step - loss: 4056.7937
Epoch 39/50
301/301 [==============================] - 1s 2ms/step - loss: 4061.9087
Epoch 40/50
301/301 [==============================] - 1s 2ms/step - loss: 4074.3464
Epoch 41/50
301/301 [==============================] - 1s 2ms/step - loss: 4085.1917
Epoch 42/50
301/301 [==============================] - 1s 2ms/step - loss: 4055.7532
Epoch 43/50
301/301 [==============================] - 1s 2ms/step - loss: 4051.3503
Epoch 44/50
301/301 [==============================] - 1s 2ms/step - loss: 4064.1848
Epoch 45/50
301/301 [==============================] - 1s 2ms/step - loss: 4063.9214
Epoch 46/50
301/301 [==============================] - 1s 2ms/step - loss: 4042.1592
Epoch 47/50
301/301 [==============================] - 1s 2ms/step - loss: 4072.5015
Epoch 48/50
301/301 [==============================] - 1s 2ms/step - loss: 4066.7251
Epoch 49/50
301/301 [==============================] - 1s 2ms/step - loss: 4052.6462
Epoch 50/50
301/301 [==============================] - 1s 2ms/step - loss: 4067.9541

In [0]:
ypred = model.predict(X_train)
ypred2 = model.predict(X_test)

In [0]:
from sklearn.metrics import r2_score

In [148]:
r2_score(y_train, ypred)

0.923032408636567

In [150]:
r2_score(y_test, ypred2)

0.9226709806350749

In [0]:
# Nosso resultado mais balanceado foi com a Rede Neural, mas o regressor linear também obteve bons resultados.
# Temos muitos pontos a melhorar principalmente utilizando métodos mais apropriados de exploração de dados 
# e também achar meios melhores de lidar com os NaN's.